body {
  background-image: url(images/sunrise.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.weekday,
.weathericons,
.tempvalue {
  background-color: transparent;
  color: #fff;
}

.searchCity,
.button,
.tempConversion,
.greeting,
.currentLocation,
.content,
.weekday {
  font-family: hero-new, sans-serif;
}

.searchCity {
  display: block;
  font-weight: 300;
  text-align: center;
  width: 30%;
  margin: auto;
  margin-top: 25px;
  border-radius: 5px;
}

.greeting {
  font-weight: 300;
  font-size: 2.7em;
  text-align: center;
  position: relative;
  top: 48px;
  letter-spacing: 12px;
}

.currentLocation {
  display: block;
  margin-top: 80px;
}

.btn-outline-dark {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.city-temp {
  font-weight: 200;
  font-size: 2.3em;
}

.bi,
.bi--cloud-snow {
  font-size: 36px;
}

.content {
  position: relative;
  top: 10em;
  text-align: center;
  font-weight: 200;
}

.card-title {
  font-size: 25px;
  font-weight: 200;
}

.weekday,
.tempvalue {
  font-weight: 300;
}
.card-text {
  font-weight: 200;
}
