body {
  background-color: #7b8bd7;
}

.weekday,
.weathericons,
.tempvalue {
  background-color: transparent;
  color: #fff;
}

.searchCity,
.button,
.tempConversion,
.currentLocation,
.content,
.weekday {
  font-family: hero-new, sans-serif;
}

.city-temp {
  font-weight: 200;
  font-size: 2.3em;
}

.bi,
.bi--cloud-snow {
  font-size: 36px;
}

.content {
  position: relative;
  top: 10em;
  text-align: center;
  font-weight: 200;
}

.card-title {
  font-size: 25px;
  font-weight: 200;
}

.weekday,
.tempvalue {
  font-weight: 300;
}
.card-text {
  font-weight: 200;
}
