body {
  background-color: #aac9ce;
}

.weather-app-wrapper {
  max-width: 600 px;
  margin: 30px auto;
  border: 1px solid #000;
  border-radius: 4px;
}

.searchCity,
.button,
.tempConversion,
.currentLocation,
.weather-forecast,
.weekday {
  font-family: hero-new, sans-serif;
}

.searchCity {
  text-align: center;
}

.city-temp {
  font-weight: 200;
  font-size: 2.3em;
}

.bi,
.bi--cloud-snow {
  font-size: 36px;
}

.card-title {
  font-size: 25px;
  font-weight: 200;
}

.card-text {
  font-weight: 200;
}

.tempConversion .active {
  color: #fff;
  cursor: default;
  text-decoration: none;
}
.tempConversion .active:hover {
  text-decoration: none;
}

.weathericons {
  text-align: center;
}

.weekday {
  margin-top: 24px;
}

.weekday,
.tempvalue {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.weather-forecast-min-temp {
  opacity: 0.6;
}
